/* General */
body, html {
    margin: 0;
    background-image: url(img/pageBackground.png);
    background-repeat: repeat;
}
p,a,h1,h2,h3,h4,h5,h6,span,button,i {
    font-family: 'Montserrat', Courier, monospace;
    color: #fff;
}
#incomplete {
    display: none;
}

/* Navbar */
:root {
    --nav-shadow-size: 5px;
    --nav-shadow-opacity: .25;
}
.nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 0 1vw;
    background: rgba(95,175,220,0.25);
}
.nav-logo {
    vertical-align: middle;
    float: left;
    width: 15vw;
}
.nav-logo p {
    cursor: pointer;
    font-size: 1.5vw;
}
.nav-logo span {
    font-weight: bold;
}
.nav-links {
    justify-content: center;
}
.nav-links button {
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.25vw;
}
.nav-links button:hover {
    color: #eee;
    text-shadow: 0px 0px var(--nav-shadow-size) rgba(0,0,0,var(--nav-shadow-opacity));
}
.nav-tools {
    vertical-align: middle;
    float: right;
}
.nav-tools i {
    font-size: 1.5vw;
    cursor: pointer;
}
.nav-tools i:hover {
    color: #eee;
    text-shadow: 0px 0px var(--nav-shadow-size) rgba(0,0,0,var(--nav-shadow-opacity));
}