/* About Cards */
.about {
    display: flex;
    justify-content: center;
}
.about div {
    width: 35vw;
    min-height: 40vh;
    margin: 20vh 1.5vw;
    padding: 2.5vw;

    background: linear-gradient(
        var(--blue),
        var(--darkblue)
    );
    border-radius: 1vw;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);

    color: var(--white);
    text-align: center;
    word-spacing: 2px;
    line-height: 3.5vh;
}
.about div h2 {
    font-size: 1.35vw;
    font-weight: 600;
}
.about div p {
    font-size: 1.15vw;
    font-weight: 500;
}
.about-goal {
    transform: translateY(-15vh);
}
.about-contribute {
    transform: translateY(15vh);
}
.about-contribute p span {
    text-decoration: underline;
    cursor: pointer;
}
