/* Player */
.player-frame {
	margin: 5vh auto;

	background: linear-gradient(var(--blue-color-light), var(--blue-color-dark));
	border-radius: 1.5vh;

	position: relative;
	padding-bottom: 40%;
	height: 0;
	width: 60%;
	position: relative;
}

#player {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	padding: 1vh;
	border: none;
	border-radius: 2vh;
}

/* Player Buttons */
.player-frame button {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3vh 4vh;

	padding: 1vh 1.5vh;
	color: #356080;
	font-weight: 600;
	letter-spacing: 2px;
	border: none;
	border-radius: 1.5vh;
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0px 0 15px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}
