.policy {
	margin: 5vh 12.5vw;
}
.policy * {
	color: var(--dark-text-color);
	border-color: var(--dark-text-color);
	line-height: 1.5em;
}
.policy h1 {
	text-align: center;
	letter-spacing: 2px;
	font-size: 2.25em;
}
.policy h2 {
	font-weight: 600;
	font-size: 1.75em;
}
.policy p {
	font-size: 1em;
	font-weight: 500;
}
.policy hr {
	margin: 1.5vh 0;
	margin-right: 5vh;
}
