/* General */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Courier, monospace;
    box-sizing: border-box;
    color: var(--white);
}

body {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../img/pageBackground.png);
    background-repeat: repeat;
}
body:before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 1vh;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.5);
}

:root {
    --blue: #46789B;
    --white: #FCFFFF;
    --black: #46464B;
}
#incomplete {
    display: none;
}

/* Navbar */
.nav {
    width: 100vw;
    padding: 3.5vh 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    background-color: var(--blue);
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}

.nav a {
    text-decoration: none;
    font-size: 1.75vw;
    font-weight: 400;
}
.nav a span {
    font-weight: 600;
}

.nav-links-button {
    background: none;
    border: none;
    margin: 0 1vw;
    font-size: 1.3vw;
    font-weight: 500;
    cursor: pointer;
    padding: .5vw;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.nav-links-button:before {
    content: "";
    position: absolute;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--white);
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.nav-links-button:hover:before {
    left: 0;
    right: 0;
}
.nav-links-active:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    height: 2px;
}

.nav-tools i {
    padding: 0 .5vw;
    font-size: 1.4vw;
    cursor: pointer;
}
.nav-tools i:hover {
    text-shadow: 0px 0px 10 rgba(0,0,0,0.5);
}

/* Footer */
footer {
    width: 100vw;
    padding: 3.5vh 10vw;
    background-color: var(--blue);
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer-links {
    width: 25vw;
}
.footer-links li {
    list-style: none;
    margin: 1vw 0;
}
.footer-links li a {
    text-decoration: none;
    font-size: 1vw;
    padding: .25vw .5vw;
}
.footer-socials i {
    font-size: 2vw;
    margin: 1vw;
    cursor: pointer;
    padding: .5vw;
    border: 1px solid var(--white);
    border-radius: 10vw;
}
.footer-policies {
    margin: 1vw;
    padding-bottom: 2vh;
    text-align: center;
}
.footer-policies a {
    text-decoration: none;
    padding-bottom: 1.5vh;
    margin: 1vh .75vw;
    padding: .5vw;
    border: 1px solid var(--white);
    border-radius: 10vw;
}
.footer-disclaimer p {
    padding: 1vh 15vw;
    font-size: .85vw;
    text-align: center;
}
.footer-disclaimer p span {
    text-decoration: underline;
    cursor: pointer;
}