/* General */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

[data-theme="light"] {
    --background-color: rgba(0,0,0,0);
    --text-color: #FCFFFF;
    --gradient-color-light: #46789B;
    --gradient-color-dark: #356080;
}
[data-theme="dark"] {
    --color-bg: rgba(0,0,0,0.7);
    --text-color: #DCDDDD;
    --gradient-color-light: #396686;
    --gradient-color-dark: #2a5472;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Courier, Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

body {
    background: linear-gradient(
        var(--background-color),
        var(--background-color)
    ), url(../img/pageBackground.png);
    background-repeat: repeat;
    overflow-x: hidden;
}

#content {
    transition: margin-right .5s;
}

#incomplete {
    display: none;
}

/* Navbar */
.nav {
    width: 100vw;
    padding: 3.5vh 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    background-color: var(--gradient-color-light);
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}

.nav a {
    text-decoration: none;
    font-size: 1.75vw;
    font-weight: 400;
}
.nav a span {
    font-weight: 600;
}

.nav-links-button {
    background: none;
    border: none;
    margin: 0 1vw;
    font-size: 1.3vw;
    font-weight: 500;
    cursor: pointer;
    padding: .5vw;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.nav-links-button:before {
    content: "";
    position: absolute;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--text-color);
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.nav-links-button:hover:before {
    left: 0;
    right: 0;
}
.nav-links-active:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--text-color);
    height: 2px;
}

.nav-tools i {
    padding: 0 .5vw;
    font-size: 1.4vw;
    cursor: pointer;
    transition: scale .15s;
}
.nav-tools i:hover {
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    scale: 110%;
}

/* Settings (ty w3schools <3) */
.settings-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
}
.settings {
    width: 50vw;
    height: 65vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(
        var(--gradient-color-light),
        var(--gradient-color-dark)
    );
    border-radius: 1vw;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.3);
    padding: 1vw;

    color: var(--text-color);
    text-align: center;
}
.settings span {
    text-align: right;
}
.settings hr {
    padding: 1vw;
}

/* Footer */
footer {
    width: 100vw;
    padding: 3.5vh 10vw;
    background-color: var(--gradient-color-light);
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
    cursor: default;
}
.footer {
    display: flex;
    justify-content: space-between;
}

.footer-description {
    width: 75vw;
    font-size: .9vw;
    text-align: center;
    line-height: 1.5vw;
    word-spacing: 2px;
}
.footer-description p span {
    text-decoration: underline;
    cursor: pointer;
}

.footer-links {
    width: 25vw;
}
.footer-links li {
    list-style: none;
    margin: 1vw 0;
}
.footer-links li a {
    text-decoration: none;
    font-size: 1.05vw;
    padding: .25vw .5vw;
    font-weight: 500;
    cursor: pointer;
}

.footer-socials {
    text-align: center;
}
.footer-socials i {
    font-size: 2vw;
    margin: 1vw;
    cursor: pointer;
    padding: .5vw;
    border: 1px solid var(--text-color);
    border-radius: 10vw;
}

.footer-policies {
    margin: 1vw;
    padding-bottom: 2vh;
    text-align: center;
}
.footer-policies a {
    text-decoration: none;
    padding-bottom: 1.5vh;
    margin: 1vh .75vw;
    padding: .5vw;
    border: 1px solid var(--text-color);
    border-radius: 10vw;
}

.footer-disclaimer p {
    padding: 1vh 15vw;
    font-size: .85vw;
    text-align: center;
    line-height: 1.5vw;
    word-spacing: 2px;
}